.container {
  width: 100%;
  max-width: 832px;
  min-height: 621px;
  background-color: var(--gray-2);
  border-radius: 8px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  min-height: 621px;
  height: 100%;
  padding: 40px;
}
.post {
  display: flex;
  justify-content: space-between;
}
.postTitle {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.postTitle h2 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.postTitle p {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 25px;
  color: var(--gray-5);
}
.profilePicture {
  height: 60px;
  width: 60px;
  background: var(--gray-2);

  object-fit: cover;
  border-radius: 8px;

  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--light-green);
}

.divider {
  height: 1px;
  width: 100%;
  border: 1px solid var(--gray-3);
}
.postArea {
  width: 100%;
  text-align: justify;
}
.textArea {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
.textArea h3 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: var(--gray-7);
}
.textArea textarea {
  width: 100%;
  height: 96px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 50px;
  background-color: var(--gray-1);
  border: none;
  border-radius: 8px;
  color: var(--white);
}
.textArea input:hover {
  border: 1px solid var(--light-green);
}
.textArea input:focus {
  border: 1px solid var(--light-green);
  outline: none;
}

.textArea button {
  color: var(--white);
  border: none;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: var(--green);
  /* padding: 12px 24px 12px 24px; */
  border-radius: 8px;
}

.textArea button:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
